#root {
    width: 100%;
}

#root {
  display: flex;
  justify-content: center;  /* horizontal centering */
  align-items: center;      /* vertical centering */
  height: 100vh;            /* take full viewport height */
}

.new-account-btn {
  background-color: #4CAF50;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}