#root {
    width: 100%;
}

#root {
  display: flex;
  justify-content: center;  /* horizontal centering */
  align-items: center;      /* vertical centering */
  height: 100vh;            /* take full viewport height */
}
